node_modules/
dist/
# .notion-auth.json
params.json
progress.json
*.log
.DS_Store
.env
package-lock.json
schedule.json

notion-auto-backendworking.xml
serviceFailed/*
data/adhoc-queue.json
data/adhoc-queue.lock